html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nonDisponible {
    color: darkgrey;

}

/* Index Vehicules */

.headerVehicule{
    display: flex;
    flex-direction:row;
}

.indexVehicule{
    display:grid;
    grid-template-columns: 30% 30% 30%;
}

.appercuVehicule {
    border: 2px gray solid;
    display: grid;
    grid-template-columns: 40% 60%;
}

.thumbnailVehicule{

}

.resumeVehicule {
    display: flex;
    flex-direction: column;
}

/* Details Vehicules */

.imagesVehicule {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    overflow:hidden;
}

.navigationImages {
    position: absolute;
    z-index: 3;
    width: 15%;
    height: 100%;
    background-color: black;
    color:white;
    font-size:larger;
    text-align:center;
}

#nextImage {
    opacity: 0;
    transition: opacity 0.5s ease;
    top:0px;
    right:0px;
}

#nextImage:hover{
    opacity:.3;
}

#previousImage {
    opacity: 0;
    transition: opacity 0.5s ease;
    top:0px;
    left:0px;
}

#previousImage:hover {
    opacity: .3;
}