@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez AutoRapide</h1>
    <p>Première visite? Veuillez-vous inscrire: <a asp-controller="Usagers" asp-action="Create">Nouveau compte</a></p>
</div>
